<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">  
  
  <head>  
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />  
    <title>Wellcome to Message Board</title>  
  </head>  
  <body>  
    <div style="text-align:center;margin:100px auto;">  
      <h2>Message Board</h2> 
      <!--两个查询表单-->
      <h3>query</h3>
      <form action="/" method="get"> 
        <p>input the id</p> <input name="pid" type="text" />  
        <input type="submit" value="Search" />  
      </form>  
      <form action="/" method="get">  
        <p>input the author</p><input name="pauthor" type="text" />  
        <input type="submit" value="Search" />  
      </form> 
      <h3>resume a message</h3>
      <form action="/resume" method="get">  
        <p>input the id of the message </p><input name="pid" type="text" />  
        <input type="submit" value="resume" />  
      </form> 
      <h3><a href="/add">add a message</a></h3>
      <h3><a href="/">all the messages</a></h3>
      <!--使用表格，展示留言-->
      <table border="2"style="text-align:center;margin:100px auto;">
        <tr>
          <th>id</th>
          <th>author</th>
          <th>message</th>
          <th>created_at</th>
          <th>delete</th>
          <th>edit</th>
        </tr>
        <% i = @arr.length %>
        <% i.times do |i|
        %><tr>
            <td><%=@arr[i].id%></td>
        <%
           del_id = @arr[i].id
        %>
            <td> <%=@arr[i].author%> </td>
            <td> 
                 <%=@arr[i].message%> 
            </td>
            <td> <%=@arr[i].created_at%> </td>
            <td><form action="/delete/<%= @arr[i].id %>" method="get">
                <input type="submit" value="delete">
                </form>
            </td>
            <td>
                <form action="/edit/<%= @arr[i].id%>" method="get">
                <input type="submit" value="edit">
                </form>
            </td>
          </tr>
      <% end
      %></table>
    </div>   
  </body>  
</html>  
